<form role="form">
    <div class="row show-grid">
        <div class="col-md-6">
            <div class="form-group input-group">
                <span class="input-group-addon">Password</span>
                <input type="text" class="form-control" ng-model="cacheForm.password" tabindex="5">
            </div>
        </div>

        <div class="col-md-6">
            <div class="form-group input-group">
                <span class="input-group-addon">Status</span>
                <select class="form-control" id="status" ng-model="cacheForm.status" tabindex="4" ng-options="item.name as item.value for item in statusDefault">
                </select>
            </div>
            
        </div>
    </div>
</form>

<hr/>

<table class="table table-bordered table-striped">
<thead>
    <tr>
        <th ng-repeat="table_head in response.table_header">
              <select class="form-control" id="status" ng-model="response.mapping[$index]" ng-change="changeField(response.mapping[$index], response.old_mapping[$index])">
                    <option ng-repeat="(key, table_head) in response.table_header" value="{{key}}">{{table_head}}</option>
              </select>
        </th>
    </tr>
</thead>
<tbody data-provides="rowlink" class="text-center">
    <tr ng-repeat="(key, row) in response.items">
        <td ng-repeat="col in response.items[key] track by $index">
          <span ng-if="col.length">{{col}}</span>
          <span ng-if="!col.length">{{cacheForm[response.mapping[$index]]}}</span> 
        </td>
    </tr>
    <tr ng-show="response.total_row > 10 && response.items.length >= 3">
        <td colspan="{{count_colspan}}" > . . . </td>
    </tr>
</tbody>
</table>​
<hr/>
<a href="/#/" class="btn btn-default">Back</a>
<span class="btn btn-default pull-right" ng-click="validate()">Preview</span>