<form role="form">
    <div class="row show-grid">
        <div class="col-md-6">
            <div class="form-group input-group">
                <span class="input-group-addon">Password</span>
                <input type="text" class="form-control" ng-model="cacheForm.password" tabindex="5" ng-disabled="onlyRead">
            </div>
        </div>

        <div class="col-md-6">
            <div class="form-group input-group">
                <span class="input-group-addon">Status</span>
                <select class="form-control" id="status" ng-model="cacheForm.status" tabindex="4" ng-options="item.name as item.value for item in statusDefault" ng-disabled="onlyRead">
                </select>
            </div>
            
        </div>
    </div>
</form>

<hr/>

<table class="table table-bordered table-striped">
<thead>
    <tr>
        <th class="text-center" ng-repeat="table_head in response.table_header">{{response.table_header[response.mapping[$index]]}}</th>
    </tr>
</thead>
<tbody data-provides="rowlink" class="text-center">
    <tr ng-repeat="(key, row) in response.items">
        <td ng-repeat="col in response.items[key] track by $index">
          <span ng-if="col.length">{{col}}</span>
          <span ng-if="!col.length">{{cacheForm[response.mapping[$index]]}}</span> 
        </td>
    </tr>
    <tr ng-show="$storage.total_row > 10 && $storage.items.length >= 3">
        <td colspan="{{$storage.table_header.length}}" > . . . </td>
    </tr>
</tbody>
</table>​
<hr/>
<a href="/#/mapping" class="btn btn-default">Back</a>
<span class="btn btn-default pull-right" ng-click="import()">Apply</span>